* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.button-conatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 450px;
    border: 2px solid black;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.cred-container > h1 {
    margin: 20px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#welcome {
    margin: 15px;
}

.button-conatiner * {
    margin: 7px;
}

.cred-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 280px;
    width: 300px;
    border: 2px solid black;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cred-container * {
    margin: 5px;
}

.user-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.credentails-btn {
    padding: 13px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin-top: 10px;
}

.credentails-btn:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

/* Main screen */

.task-app {
    background-color: #fff7e6; /* Light yellow background */
    transition: background-color 0.5s ease; /* Smooth transition effect */
    min-height: 90vh;
}

.task-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.task-input {
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}

.task-input:focus {
    border-color: #e74c3c;
}

.add-task-btn {
    background-color: #f9ca24;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.add-task-btn:hover {
    background-color: #f0bc01;
}

.tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: auto;
}

/* Task */

.task {
    background-color: #f9ca24;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 30vh;
}

.task * {
    margin: 3px;
}

.task h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #2c3e50; 
}

.task p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #34495e;
}

.task button {
    background-color: #e74c3c; /* Red color for buttons */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.task button:hover {
    background-color: #c0392b; /* Darker red color on hover */
}

.update-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    height: 100%;
    margin: auto;
    margin-top: 10px;
}

.update-task {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.update-btn {
    background-color: #4caf50; /* Green color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.update-btn:hover {
    background-color: #45a049; /* Darker green on hover */
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
}

#filler {
    width: 100%;
    height: 10vh;
    background-color: #fff7e6;
}
